package mysqlz

//
//func TestNewDB(t *testing.T) {
//	errz := NewDB(TextCtx)
//	if errz != nil {
//		t.Errorf("%+v", errz)
//	}
//}
//
//func TestGetConn(t *testing.T) {
//	errz := NewDB(TextCtx)
//	if errz != nil {
//		t.Errorf("%+v", errz)
//	}
//	conn, errz := GetConn(TextCtx)
//	if errz != nil {
//		t.Errorf("%+v", errz)
//	}
//	var i int
//	err := conn.QueryOne(&i, "select 1", nil)
//	if err != nil {
//		t.Errorf("%+v", err)
//	}
//	if i != 1 {
//		t.Error("query fail")
//	}
//}